@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --primary-gradient: linear-gradient(90deg, #1a83d4 0%, #0ebbff 100%);
  --secondary: #6d4b64;
  --text: #fcfdff;
  --textDark: #666f84;
  --accent: #0ebbff;
  --backgroundSubtle: #ede2de;
  --shadow: 0px 5px 7.300000190734863px rgba(26, 131, 212, 0.28);
  --font: 'Poppins', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--font);
}

.container {
  max-width: 100%;
  height: 100vh;
  padding-left: 5rem;
  padding-right: 5rem;
}

.d-flex {
  display: flex;
  flex-wrap: nowrap;
}

.flex-column {
  flex-direction: column;
}

.align-self-center {
  align-self: center;
}

.ilustration img {
  /* width: 47.625rem; */
  height: 100vh;
}

.login-box {
  margin-left: 3rem;
  text-align: center;
  width: 100%;
}

.logo img {
  margin-bottom: 2rem;
  width: 17.375rem;
  height: 15.75rem;
}

h3,
p {
  color: var(--textDark);
}

form {
  margin-top: 2rem;
}

input {
  border-radius: 0.625rem;
  background: #f2f2f2;
  border: none;
  width: 18.75rem;
  height: 2.5rem;
  flex-shrink: 0;
  padding-left: 1rem;
  margin-bottom: 0.5rem;
}

input::placeholder {
  color: var(--textDark);
  font-family: var(--font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
}

form button {
  margin-top: 1rem;
}

.btn {
  border: none;
  border-radius: 0.625rem;
  color: var(--text);
  cursor: pointer;
  font-family: var(--font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 18.75rem;
  height: 2.5rem;
}

.btn-primary {
  background: var(--primary-gradient);
  box-shadow: var(--shadow);
}

@media (max-width: 575.98px) {
  .container {
    margin-top: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .d-flex {
    display: flex;
    width: 100%;
  }

  .flex-column-sm {
    flex-direction: column-reverse;
  }

  .login-box {
    margin-left: 0;
    text-align: center;
    width: 100%;
  }

  .ilustration img {
    width: 100%;
    height: 100%;
    margin-top: 1rem;
  }
}
